# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Flask/SQLAlchemy database files
*.sqlite3
*.db

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Uploaded images
static/uploads/

# Environment/config files
config.py
.env